.search {
  /* font-size: 1.5rem; */
  /* margin: 1.5em auto 3em; */
  max-width: 85%;
  margin: auto auto 10px auto;
  overflow: hidden;
  position: relative;
}

.search [type="search"] {
  background-color: #fff;
  color: #000;
  padding: 0.5em 2em;
  text-align: center;
  width: 100%;
  border-radius: 50px;
  float: left;
}

.search .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
