
.movie__figure {
  position: relative;
}

.movie__poster {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5em;
  position: relative;
}

.movie__poster:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 1s ;
}


li {
  flex: 0 0 130px;
  padding-bottom: 5px;
  margin-right: 20px;
  position: relative;
}


li:hover:after {
  opacity: 1;
}


li:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 180px;
  content: '\f144';
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
  opacity: 0;
  color: #FFF;
  font-size: 40px;
  display: block;
  cursor: pointer;
  line-height: 195px;
  text-align: center;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}




.movie__vote {
  align-items: center;
  background-color: #f68d01;
  color: white;
  border-radius: 50%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  display: flex;
  height: 2.25em;
  justify-content: center;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 75%;
  transform: translateX(50%);
  width: 2.25em;
}


.movie__figure .movie__title {
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0;
  color: #24262C;
  text-align: center;
}



.movie__runtime {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
  color: #24262C;
  text-align: center;
}